{
  "check-coverage": true,
  "include": [
    "**/*.ts"
  ],
  "exclude": [
    "**/*.js",
    "coverage/**",
    "node_modules/**",
    "src/cli/**",
    "test/**",
    "**/*.d.ts",
    "**/*.test.ts"
  ],
  "all": true,
  "branches": 65,
  "lines": 80,
  "functions": 80,
  "statements": 80
}
